*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding:20px;

}
.mere{
    display: flex;
    flex-direction: row;
    gap:100px;
    justify-content: center;
}
header .mere .image img{
    width: 200px;
    height: auto;
}
.boutton{
    display: inline-block;
    text-align: end;
}
section{
    padding:20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sect1{
    background-color: orange;
    justify-content: center;
}
.sect1 .div_image img{
    width: 220px;
    height: auto;
}
.sect1 .enfant2 .button1 button{
    justify-content: center;
}
.sect2{
    background-color: green;
}
.sect2 .div_image img{
    width: 220px;
    height: auto;
}

/* .sect3{
    background-color: gray;
}

.sect4{
    background-color: darkblue;
} */

.enfant1{
    background-color: red;
    padding:10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.enfant01 {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.enfant02 {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div_text{
    padding:20px;
    width: 40%;
}
.div_text p{
    margin:10px;
}
.div_image {
    padding: 10px;
    width: 40%;
}
.div_image1{
    padding: 10px;
        width: 40%;
}
.div_image2 {
    padding: 10px;
    width: 40%;
}
.div_image{
    background-color: brown;
}

.enfant002{
    padding:10px;
    margin-left:250px;
    
}
.but{
    display:flex;
    flex-direction: column;
   text-align:center;
    width:800px;
    margin-left:490px;
    display: block;
}
.but button {
    font-size: 18px;
    padding: 12px 24px;
    color: blue;
    margin-bottom: 10px;
}
.enfant002 button,
.but button {
    font-size: 18px;
    padding: 12px 24px;
    color: blue;
    /* Couleur du texte */
}


footer{
   
    background-color: cornflowerblue;
}